<launch>
  <node pkg="rockpaperscissor" type="rockpaperscissor_node" name="rockpaperscissor" respawn="true" output="screen" />

  <node pkg="usb_cam" type="usb_cam_node" name="camera" output="screen">
    <param name="video_device" type="string" value="/dev/video0" />
    <!-- <param name="pixel_format" value="yuyv" /> -->
  </node>


</launch>

